<h1>Find and Replace Machine!</h1>

<p class="lead">Enter what you want changed, what to change, and what to change it into! </p>

<hr>

<form action="output">
    <div class="form-group">
        <label for="input_string">Sentence:</label>
        <input id="input_string" name="input_string" class="form-control" maxlength="10000" minlength="1" type="text">
    </div>
    
    <div class="form-group">
        <label for="to_replace">Replace:</label>
        <input id="to_replace" name="to_replace" class="form-control" maxlength="10000" minlength="1" type="text">
    </div>
    
    <div class="form-group">
        <label for="replace_with">With:</label>
        <input id="replace_with" name="replace_with" class="form-control" maxlength="10000" minlength="1" type="text">
    </div>
    
    <button type="submit" class="btn">Go!</button>
</form>

<hr> 